*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: blue;
}
.container{
    display: flex;
    justify-content: center;
    position: relative;
    top: 120px;
}


table{
    border: 15px solid black;
    text-align: center;
    border-radius:19px;
    background-color: rgb(245, 194, 118);

}

th{
    padding:12px 0px ;
    
    
}
input{
    background-color:black;
    border-color: white;
    border-width: 4px;
    text-align: right;
    width:95%;
    height: 8vh;
    font-size: 25px;
    color: greenyellow;
    
}
input::placeholder{
    color: greenyellow;
}
.btn{
    background-color: black;
    color: white;
    width: 60px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 15px white;
}
.bttn{
    background-color: rgb(252, 63, 63);
    color: white;
    width: 60px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 15px white;
}

.btn:hover , .bttn:hover{
    transform: scale(0.9);
}
td{
    padding: 9.8px 15px;
}

